In [37]:
#import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
#load training dataset
df = pd.read_csv('../data/train.csv')

In [39]:
#get data info
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2662.0,1652.887303,955.005512,1.00,830.25,1642.5,2469.75,3328.00
Tm,2662.0,278.263452,85.117914,53.54,217.00,277.3,325.15,897.15
Group 1,2662.0,1.020661,1.353640,0.00,0.00,1.0,2.00,16.00
Group 2,2662.0,1.582269,3.738416,0.00,0.00,0.0,1.00,42.00
Group 3,2662.0,0.114951,0.425964,0.00,0.00,0.0,0.00,6.00
...,...,...,...,...,...,...,...,...
Group 420,2662.0,0.000000,0.000000,0.00,0.00,0.0,0.00,0.00
Group 421,2662.0,0.000000,0.000000,0.00,0.00,0.0,0.00,0.00
Group 422,2662.0,0.000000,0.000000,0.00,0.00,0.0,0.00,0.00
Group 423,2662.0,0.000000,0.000000,0.00,0.00,0.0,0.00,0.00
Group 424,2662.0,0.000000,0.000000,0.00,0.00,0.0,0.00,0.00

In [40]:
#identify columns with missing values
missing_cols = [col for col in df.columns if df[col].isnull().sum() > 0]
if missing_cols:
    print("Columns with missing values:", missing_cols)
else:
    print("No columns with missing values.")

No columns with missing values.

In [41]:
#identify columns where all values are identical
identical_cols = [col for col in df.columns if df[col].nunique() == 1]
print("Number of columns with identical values:", len(identical_cols))
for col in identical_cols:
    print(f"Column: {col} | Values: {df[col].iloc[0]}")

Number of columns with identical values: 87
Column: Group 12 | Values: 0
Column: Group 28 | Values: 0
Column: Group 46 | Values: 0
Column: Group 67 | Values: 0
Column: Group 73 | Values: 0
Column: Group 74 | Values: 0
Column: Group 75 | Values: 0
Column: Group 84 | Values: 0
Column: Group 85 | Values: 0
Column: Group 88 | Values: 0
Column: Group 90 | Values: 0
Column: Group 101 | Values: 0
Column: Group 102 | Values: 0
Column: Group 104 | Values: 0
Column: Group 150 | Values: 0
Column: Group 152 | Values: 0
Column: Group 155 | Values: 0
Column: Group 158 | Values: 0
Column: Group 160 | Values: 0
Column: Group 167 | Values: 0
Column: Group 183 | Values: 0
Column: Group 194 | Values: 0
Column: Group 198 | Values: 0
Column: Group 206 | Values: 0
Column: Group 207 | Values: 0
Column: Group 208 | Values: 0
Column: Group 209 | Values: 0
Column: Group 212 | Values: 0
Column: Group 213 | Values: 0
Column: Group 214 | Values: 0
Column: Group 215 | Values: 0
Column: Group 216 | Values: 0
Column: Group 217 | Values: 0
Column: Group 218 | Values: 0
Column: Group 245 | Values: 0
Column: Group 247 | Values: 0
Column: Group 248 | Values: 0
Column: Group 250 | Values: 0
Column: Group 252 | Values: 0
Column: Group 253 | Values: 0
Column: Group 264 | Values: 0
Column: Group 280 | Values: 0
Column: Group 281 | Values: 0
Column: Group 282 | Values: 0
Column: Group 285 | Values: 0
Column: Group 294 | Values: 0
Column: Group 303 | Values: 0
Column: Group 306 | Values: 0
Column: Group 307 | Values: 0
Column: Group 308 | Values: 0
Column: Group 309 | Values: 0
Column: Group 312 | Values: 0
Column: Group 313 | Values: 0
Column: Group 316 | Values: 0
Column: Group 317 | Values: 0
Column: Group 340 | Values: 0
Column: Group 342 | Values: 0
Column: Group 345 | Values: 0
Column: Group 347 | Values: 0
Column: Group 348 | Values: 0
Column: Group 349 | Values: 0
Column: Group 350 | Values: 0
Column: Group 352 | Values: 0
Column: Group 355 | Values: 0
Column: Group 356 | Values: 0
Column: Group 357 | Values: 0
Column: Group 358 | Values: 0
Column: Group 360 | Values: 0
Column: Group 363 | Values: 0
Column: Group 371 | Values: 0
Column: Group 376 | Values: 0
Column: Group 377 | Values: 0
Column: Group 383 | Values: 0
Column: Group 384 | Values: 0
Column: Group 385 | Values: 0
Column: Group 390 | Values: 0
Column: Group 397 | Values: 0
Column: Group 399 | Values: 0
Column: Group 411 | Values: 0
Column: Group 413 | Values: 0
Column: Group 417 | Values: 0
Column: Group 419 | Values: 0
Column: Group 420 | Values: 0
Column: Group 421 | Values: 0
Column: Group 422 | Values: 0
Column: Group 423 | Values: 0
Column: Group 424 | Values: 0

In [42]:
#drop all columns with identical values
df.drop(columns=identical_cols, inplace=True)

In [43]:
#identify columns where one value dominates
dominant_cols = []
threshold = 0.99
for col in df.columns:
    top_freq = df[col].value_counts(normalize=True).iloc[0]
    if top_freq >= threshold:
        dominant_cols.append(col)
print("Number of columns with dominant values:", len(dominant_cols))
for col in dominant_cols:
    top_value = df[col].value_counts().idxmax()
    top_freq = df[col].value_counts(normalize=True).iloc[0]
    print(f"Column: {col} | Dominant Value: {top_value} | Frequency: {top_freq:.2f}")

Number of columns with dominant values: 260
Column: Group 8 | Dominant Value: 0 | Frequency: 0.99
Column: Group 9 | Dominant Value: 0 | Frequency: 0.99
Column: Group 10 | Dominant Value: 0 | Frequency: 1.00
Column: Group 11 | Dominant Value: 0 | Frequency: 1.00
Column: Group 14 | Dominant Value: 0 | Frequency: 0.99
Column: Group 24 | Dominant Value: 0 | Frequency: 1.00
Column: Group 25 | Dominant Value: 0 | Frequency: 0.99
Column: Group 26 | Dominant Value: 0 | Frequency: 1.00
Column: Group 27 | Dominant Value: 0 | Frequency: 1.00
Column: Group 32 | Dominant Value: 0 | Frequency: 0.99
Column: Group 35 | Dominant Value: 0 | Frequency: 1.00
Column: Group 36 | Dominant Value: 0 | Frequency: 1.00
Column: Group 42 | Dominant Value: 0 | Frequency: 1.00
Column: Group 43 | Dominant Value: 0 | Frequency: 1.00
Column: Group 44 | Dominant Value: 0 | Frequency: 1.00
Column: Group 47 | Dominant Value: 0 | Frequency: 1.00
Column: Group 51 | Dominant Value: 0 | Frequency: 1.00
Column: Group 52 | Dominant Value: 0 | Frequency: 1.00
Column: Group 55 | Dominant Value: 0 | Frequency: 1.00
Column: Group 56 | Dominant Value: 0 | Frequency: 1.00
Column: Group 57 | Dominant Value: 0 | Frequency: 1.00
Column: Group 58 | Dominant Value: 0 | Frequency: 0.99
Column: Group 59 | Dominant Value: 0 | Frequency: 1.00
Column: Group 60 | Dominant Value: 0 | Frequency: 0.99
Column: Group 61 | Dominant Value: 0 | Frequency: 1.00
Column: Group 64 | Dominant Value: 0 | Frequency: 0.99
Column: Group 65 | Dominant Value: 0 | Frequency: 0.99
Column: Group 66 | Dominant Value: 0 | Frequency: 1.00
Column: Group 68 | Dominant Value: 0 | Frequency: 0.99
Column: Group 69 | Dominant Value: 0 | Frequency: 1.00
Column: Group 70 | Dominant Value: 0 | Frequency: 1.00
Column: Group 71 | Dominant Value: 0 | Frequency: 0.99
Column: Group 72 | Dominant Value: 0 | Frequency: 0.99
Column: Group 76 | Dominant Value: 0 | Frequency: 1.00
Column: Group 77 | Dominant Value: 0 | Frequency: 1.00
Column: Group 78 | Dominant Value: 0 | Frequency: 1.00
Column: Group 79 | Dominant Value: 0 | Frequency: 1.00
Column: Group 81 | Dominant Value: 0 | Frequency: 1.00
Column: Group 82 | Dominant Value: 0 | Frequency: 1.00
Column: Group 83 | Dominant Value: 0 | Frequency: 1.00
Column: Group 86 | Dominant Value: 0 | Frequency: 0.99
Column: Group 87 | Dominant Value: 0 | Frequency: 1.00
Column: Group 89 | Dominant Value: 0 | Frequency: 1.00
Column: Group 91 | Dominant Value: 0 | Frequency: 1.00
Column: Group 92 | Dominant Value: 0 | Frequency: 1.00
Column: Group 93 | Dominant Value: 0 | Frequency: 1.00
Column: Group 94 | Dominant Value: 0 | Frequency: 1.00
Column: Group 95 | Dominant Value: 0 | Frequency: 1.00
Column: Group 96 | Dominant Value: 0 | Frequency: 1.00
Column: Group 97 | Dominant Value: 0 | Frequency: 1.00
Column: Group 98 | Dominant Value: 0 | Frequency: 1.00
Column: Group 99 | Dominant Value: 0 | Frequency: 1.00
Column: Group 100 | Dominant Value: 0 | Frequency: 1.00
Column: Group 103 | Dominant Value: 0 | Frequency: 1.00
Column: Group 105 | Dominant Value: 0 | Frequency: 1.00
Column: Group 106 | Dominant Value: 0 | Frequency: 1.00
Column: Group 107 | Dominant Value: 0 | Frequency: 1.00
Column: Group 109 | Dominant Value: 0 | Frequency: 0.99
Column: Group 110 | Dominant Value: 0 | Frequency: 1.00
Column: Group 111 | Dominant Value: 0 | Frequency: 0.99
Column: Group 112 | Dominant Value: 0 | Frequency: 1.00
Column: Group 113 | Dominant Value: 0 | Frequency: 0.99
Column: Group 114 | Dominant Value: 0 | Frequency: 1.00
Column: Group 115 | Dominant Value: 0 | Frequency: 1.00
Column: Group 116 | Dominant Value: 0 | Frequency: 1.00
Column: Group 117 | Dominant Value: 0 | Frequency: 1.00
Column: Group 118 | Dominant Value: 0 | Frequency: 0.99
Column: Group 120 | Dominant Value: 0 | Frequency: 1.00
Column: Group 121 | Dominant Value: 0 | Frequency: 1.00
Column: Group 122 | Dominant Value: 0 | Frequency: 1.00
Column: Group 125 | Dominant Value: 0 | Frequency: 0.99
Column: Group 127 | Dominant Value: 0 | Frequency: 0.99
Column: Group 131 | Dominant Value: 0 | Frequency: 1.00
Column: Group 132 | Dominant Value: 0 | Frequency: 1.00
Column: Group 133 | Dominant Value: 0 | Frequency: 1.00
Column: Group 134 | Dominant Value: 0 | Frequency: 0.99
Column: Group 135 | Dominant Value: 0 | Frequency: 1.00
Column: Group 136 | Dominant Value: 0 | Frequency: 1.00
Column: Group 137 | Dominant Value: 0 | Frequency: 1.00
Column: Group 138 | Dominant Value: 0 | Frequency: 1.00
Column: Group 139 | Dominant Value: 0 | Frequency: 1.00
Column: Group 140 | Dominant Value: 0 | Frequency: 1.00
Column: Group 141 | Dominant Value: 0 | Frequency: 1.00
Column: Group 142 | Dominant Value: 0 | Frequency: 1.00
Column: Group 143 | Dominant Value: 0 | Frequency: 1.00
Column: Group 144 | Dominant Value: 0 | Frequency: 0.99
Column: Group 145 | Dominant Value: 0 | Frequency: 1.00
Column: Group 146 | Dominant Value: 0 | Frequency: 1.00
Column: Group 147 | Dominant Value: 0 | Frequency: 1.00
Column: Group 148 | Dominant Value: 0 | Frequency: 1.00
Column: Group 149 | Dominant Value: 0 | Frequency: 1.00
Column: Group 151 | Dominant Value: 0 | Frequency: 1.00
Column: Group 153 | Dominant Value: 0 | Frequency: 1.00
Column: Group 154 | Dominant Value: 0 | Frequency: 1.00
Column: Group 156 | Dominant Value: 0 | Frequency: 1.00
Column: Group 157 | Dominant Value: 0 | Frequency: 1.00
Column: Group 159 | Dominant Value: 0 | Frequency: 1.00
Column: Group 161 | Dominant Value: 0 | Frequency: 1.00
Column: Group 162 | Dominant Value: 0 | Frequency: 1.00
Column: Group 163 | Dominant Value: 0 | Frequency: 1.00
Column: Group 164 | Dominant Value: 0 | Frequency: 1.00
Column: Group 165 | Dominant Value: 0 | Frequency: 1.00
Column: Group 166 | Dominant Value: 0 | Frequency: 1.00
Column: Group 173 | Dominant Value: 0 | Frequency: 0.99
Column: Group 174 | Dominant Value: 0 | Frequency: 1.00
Column: Group 177 | Dominant Value: 0 | Frequency: 1.00
Column: Group 178 | Dominant Value: 0 | Frequency: 0.99
Column: Group 182 | Dominant Value: 0 | Frequency: 1.00
Column: Group 184 | Dominant Value: 0 | Frequency: 1.00
Column: Group 185 | Dominant Value: 0 | Frequency: 1.00
Column: Group 186 | Dominant Value: 0 | Frequency: 1.00
Column: Group 187 | Dominant Value: 0 | Frequency: 1.00
Column: Group 188 | Dominant Value: 0 | Frequency: 1.00
Column: Group 189 | Dominant Value: 0 | Frequency: 1.00
Column: Group 190 | Dominant Value: 0 | Frequency: 0.99
Column: Group 191 | Dominant Value: 0 | Frequency: 1.00
Column: Group 192 | Dominant Value: 0 | Frequency: 1.00
Column: Group 193 | Dominant Value: 0 | Frequency: 0.99
Column: Group 195 | Dominant Value: 0 | Frequency: 1.00
Column: Group 196 | Dominant Value: 0 | Frequency: 1.00
Column: Group 197 | Dominant Value: 0 | Frequency: 1.00
Column: Group 199 | Dominant Value: 0 | Frequency: 1.00
Column: Group 200 | Dominant Value: 0 | Frequency: 1.00
Column: Group 201 | Dominant Value: 0 | Frequency: 1.00
Column: Group 202 | Dominant Value: 0 | Frequency: 1.00
Column: Group 203 | Dominant Value: 0 | Frequency: 1.00
Column: Group 204 | Dominant Value: 0 | Frequency: 1.00
Column: Group 205 | Dominant Value: 0 | Frequency: 1.00
Column: Group 210 | Dominant Value: 0 | Frequency: 1.00
Column: Group 211 | Dominant Value: 0 | Frequency: 1.00
Column: Group 219 | Dominant Value: 0 | Frequency: 1.00
Column: Group 220 | Dominant Value: 0 | Frequency: 1.00
Column: Group 223 | Dominant Value: 0 | Frequency: 0.99
Column: Group 224 | Dominant Value: 0 | Frequency: 1.00
Column: Group 225 | Dominant Value: 0 | Frequency: 1.00
Column: Group 226 | Dominant Value: 0 | Frequency: 0.99
Column: Group 229 | Dominant Value: 0 | Frequency: 0.99
Column: Group 230 | Dominant Value: 0 | Frequency: 1.00
Column: Group 231 | Dominant Value: 0 | Frequency: 0.99
Column: Group 232 | Dominant Value: 0 | Frequency: 1.00
Column: Group 233 | Dominant Value: 0 | Frequency: 0.99
Column: Group 234 | Dominant Value: 0 | Frequency: 1.00
Column: Group 235 | Dominant Value: 0 | Frequency: 1.00
Column: Group 237 | Dominant Value: 0 | Frequency: 0.99
Column: Group 238 | Dominant Value: 0 | Frequency: 1.00
Column: Group 239 | Dominant Value: 0 | Frequency: 1.00
Column: Group 240 | Dominant Value: 0 | Frequency: 1.00
Column: Group 241 | Dominant Value: 0 | Frequency: 1.00
Column: Group 242 | Dominant Value: 0 | Frequency: 1.00
Column: Group 243 | Dominant Value: 0 | Frequency: 1.00
Column: Group 244 | Dominant Value: 0 | Frequency: 1.00
Column: Group 246 | Dominant Value: 0 | Frequency: 1.00
Column: Group 249 | Dominant Value: 0 | Frequency: 1.00
Column: Group 251 | Dominant Value: 0 | Frequency: 1.00
Column: Group 254 | Dominant Value: 0 | Frequency: 1.00
Column: Group 255 | Dominant Value: 0 | Frequency: 1.00
Column: Group 256 | Dominant Value: 0 | Frequency: 1.00
Column: Group 257 | Dominant Value: 0 | Frequency: 1.00
Column: Group 258 | Dominant Value: 0 | Frequency: 1.00
Column: Group 259 | Dominant Value: 0 | Frequency: 1.00
Column: Group 260 | Dominant Value: 0 | Frequency: 1.00
Column: Group 261 | Dominant Value: 0 | Frequency: 1.00
Column: Group 262 | Dominant Value: 0 | Frequency: 1.00
Column: Group 263 | Dominant Value: 0 | Frequency: 1.00
Column: Group 265 | Dominant Value: 0 | Frequency: 0.99
Column: Group 266 | Dominant Value: 0 | Frequency: 1.00
Column: Group 267 | Dominant Value: 0 | Frequency: 0.99
Column: Group 268 | Dominant Value: 0 | Frequency: 1.00
Column: Group 269 | Dominant Value: 0 | Frequency: 1.00
Column: Group 270 | Dominant Value: 0 | Frequency: 0.99
Column: Group 271 | Dominant Value: 0 | Frequency: 1.00
Column: Group 272 | Dominant Value: 0 | Frequency: 1.00
Column: Group 273 | Dominant Value: 0 | Frequency: 0.99
Column: Group 274 | Dominant Value: 0 | Frequency: 1.00
Column: Group 275 | Dominant Value: 0 | Frequency: 1.00
Column: Group 276 | Dominant Value: 0 | Frequency: 1.00
Column: Group 277 | Dominant Value: 0 | Frequency: 1.00
Column: Group 278 | Dominant Value: 0 | Frequency: 1.00
Column: Group 279 | Dominant Value: 0 | Frequency: 1.00
Column: Group 283 | Dominant Value: 0 | Frequency: 1.00
Column: Group 284 | Dominant Value: 0 | Frequency: 1.00
Column: Group 287 | Dominant Value: 0 | Frequency: 0.99
Column: Group 288 | Dominant Value: 0 | Frequency: 0.99
Column: Group 289 | Dominant Value: 0 | Frequency: 1.00
Column: Group 290 | Dominant Value: 0 | Frequency: 1.00
Column: Group 291 | Dominant Value: 0 | Frequency: 1.00
Column: Group 293 | Dominant Value: 0 | Frequency: 1.00
Column: Group 295 | Dominant Value: 0 | Frequency: 1.00
Column: Group 298 | Dominant Value: 0 | Frequency: 1.00
Column: Group 299 | Dominant Value: 0 | Frequency: 1.00
Column: Group 300 | Dominant Value: 0 | Frequency: 1.00
Column: Group 301 | Dominant Value: 0 | Frequency: 1.00
Column: Group 302 | Dominant Value: 0 | Frequency: 1.00
Column: Group 304 | Dominant Value: 0 | Frequency: 1.00
Column: Group 305 | Dominant Value: 0 | Frequency: 1.00
Column: Group 310 | Dominant Value: 0 | Frequency: 1.00
Column: Group 311 | Dominant Value: 0 | Frequency: 1.00
Column: Group 314 | Dominant Value: 0 | Frequency: 1.00
Column: Group 315 | Dominant Value: 0 | Frequency: 1.00
Column: Group 318 | Dominant Value: 0 | Frequency: 1.00
Column: Group 320 | Dominant Value: 0 | Frequency: 1.00
Column: Group 321 | Dominant Value: 0 | Frequency: 1.00
Column: Group 322 | Dominant Value: 0 | Frequency: 0.99
Column: Group 323 | Dominant Value: 0 | Frequency: 0.99
Column: Group 329 | Dominant Value: 0 | Frequency: 0.99
Column: Group 330 | Dominant Value: 0 | Frequency: 1.00
Column: Group 332 | Dominant Value: 0 | Frequency: 0.99
Column: Group 333 | Dominant Value: 0 | Frequency: 1.00
Column: Group 334 | Dominant Value: 0 | Frequency: 0.99
Column: Group 335 | Dominant Value: 0 | Frequency: 0.99
Column: Group 336 | Dominant Value: 0 | Frequency: 1.00
Column: Group 337 | Dominant Value: 0 | Frequency: 1.00
Column: Group 338 | Dominant Value: 0 | Frequency: 1.00
Column: Group 339 | Dominant Value: 0 | Frequency: 1.00
Column: Group 341 | Dominant Value: 0 | Frequency: 1.00
Column: Group 343 | Dominant Value: 0 | Frequency: 1.00
Column: Group 344 | Dominant Value: 0 | Frequency: 1.00
Column: Group 346 | Dominant Value: 0 | Frequency: 1.00
Column: Group 351 | Dominant Value: 0 | Frequency: 1.00
Column: Group 353 | Dominant Value: 0 | Frequency: 1.00
Column: Group 354 | Dominant Value: 0 | Frequency: 1.00
Column: Group 359 | Dominant Value: 0 | Frequency: 1.00
Column: Group 361 | Dominant Value: 0 | Frequency: 1.00
Column: Group 362 | Dominant Value: 0 | Frequency: 1.00
Column: Group 364 | Dominant Value: 0 | Frequency: 0.99
Column: Group 366 | Dominant Value: 0 | Frequency: 1.00
Column: Group 368 | Dominant Value: 0 | Frequency: 1.00
Column: Group 369 | Dominant Value: 0 | Frequency: 1.00
Column: Group 370 | Dominant Value: 0 | Frequency: 1.00
Column: Group 373 | Dominant Value: 0 | Frequency: 0.99
Column: Group 375 | Dominant Value: 0 | Frequency: 1.00
Column: Group 378 | Dominant Value: 0 | Frequency: 1.00
Column: Group 379 | Dominant Value: 0 | Frequency: 1.00
Column: Group 380 | Dominant Value: 0 | Frequency: 1.00
Column: Group 381 | Dominant Value: 0 | Frequency: 1.00
Column: Group 382 | Dominant Value: 0 | Frequency: 1.00
Column: Group 386 | Dominant Value: 0 | Frequency: 1.00
Column: Group 387 | Dominant Value: 0 | Frequency: 1.00
Column: Group 388 | Dominant Value: 0 | Frequency: 1.00
Column: Group 389 | Dominant Value: 0 | Frequency: 1.00
Column: Group 391 | Dominant Value: 0 | Frequency: 1.00
Column: Group 392 | Dominant Value: 0 | Frequency: 0.99
Column: Group 393 | Dominant Value: 0 | Frequency: 1.00
Column: Group 394 | Dominant Value: 0 | Frequency: 1.00
Column: Group 395 | Dominant Value: 0 | Frequency: 1.00
Column: Group 396 | Dominant Value: 0 | Frequency: 1.00
Column: Group 398 | Dominant Value: 0 | Frequency: 1.00
Column: Group 400 | Dominant Value: 0 | Frequency: 0.99
Column: Group 404 | Dominant Value: 0 | Frequency: 1.00
Column: Group 405 | Dominant Value: 0 | Frequency: 1.00
Column: Group 406 | Dominant Value: 0 | Frequency: 1.00
Column: Group 407 | Dominant Value: 0 | Frequency: 1.00
Column: Group 408 | Dominant Value: 0 | Frequency: 1.00
Column: Group 409 | Dominant Value: 0 | Frequency: 1.00
Column: Group 410 | Dominant Value: 0 | Frequency: 1.00
Column: Group 412 | Dominant Value: 0 | Frequency: 0.99
Column: Group 414 | Dominant Value: 0 | Frequency: 0.99
Column: Group 415 | Dominant Value: 0 | Frequency: 1.00
Column: Group 416 | Dominant Value: 0 | Frequency: 1.00
Column: Group 418 | Dominant Value: 0 | Frequency: 1.00

In [44]:
#drop all columns with dominant values
df.drop(columns=dominant_cols, inplace=True)

In [45]:
#get data info after cleaning
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 80 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2662 non-null   int64
 1   SMILES     2662 non-null   object
 2   Tm         2662 non-null   float64
 3   Group 1    2662 non-null   int64
 4   Group 2    2662 non-null   int64
 5   Group 3    2662 non-null   int64
 6   Group 4    2662 non-null   int64
 7   Group 5    2662 non-null   int64
 8   Group 6    2662 non-null   int64
 9   Group 7    2662 non-null   int64
 10  Group 13   2662 non-null   int64
 11  Group 15   2662 non-null   int64
 12  Group 16   2662 non-null   int64
 13  Group 17   2662 non-null   int64
 14  Group 18   2662 non-null   int64
 15  Group 19   2662 non-null   int64
 16  Group 20   2662 non-null   int64
 17  Group 21   2662 non-null   int64
 18  Group 22   2662 non-null   int64
 19  Group 23   2662 non-null   int64
 20  Group 29   2662 non-null   int64
 21  Group 30   2662 non-null   int64
 22  Group 31   2662 non-null   int64
 23  Group 33   2662 non-null   int64
 24  Group 34   2662 non-null   int64
 25  Group 37   2662 non-null   int64
 26  Group 38   2662 non-null   int64
 27  Group 39   2662 non-null   int64
 28  Group 40   2662 non-null   int64
 29  Group 41   2662 non-null   int64
 30  Group 45   2662 non-null   int64
 31  Group 48   2662 non-null   int64
 32  Group 49   2662 non-null   int64
 33  Group 50   2662 non-null   int64
 34  Group 53   2662 non-null   int64
 35  Group 54   2662 non-null   int64
 36  Group 62   2662 non-null   int64
 37  Group 63   2662 non-null   int64
 38  Group 80   2662 non-null   int64
 39  Group 108  2662 non-null   int64
 40  Group 119  2662 non-null   int64
 41  Group 123  2662 non-null   int64
 42  Group 124  2662 non-null   int64
 43  Group 126  2662 non-null   int64
 44  Group 128  2662 non-null   int64
 45  Group 129  2662 non-null   int64
 46  Group 130  2662 non-null   int64
 47  Group 168  2662 non-null   int64
 48  Group 169  2662 non-null   int64
 49  Group 170  2662 non-null   int64
 50  Group 171  2662 non-null   int64
 51  Group 172  2662 non-null   int64
 52  Group 175  2662 non-null   int64
 53  Group 176  2662 non-null   int64
 54  Group 179  2662 non-null   int64
 55  Group 180  2662 non-null   int64
 56  Group 181  2662 non-null   int64
 57  Group 221  2662 non-null   int64
 58  Group 222  2662 non-null   int64
 59  Group 227  2662 non-null   int64
 60  Group 228  2662 non-null   int64
 61  Group 236  2662 non-null   int64
 62  Group 286  2662 non-null   int64
 63  Group 292  2662 non-null   int64
 64  Group 296  2662 non-null   int64
 65  Group 297  2662 non-null   int64
 66  Group 319  2662 non-null   int64
 67  Group 324  2662 non-null   int64
 68  Group 325  2662 non-null   int64
 69  Group 326  2662 non-null   int64
 70  Group 327  2662 non-null   int64
 71  Group 328  2662 non-null   int64
 72  Group 331  2662 non-null   int64
 73  Group 365  2662 non-null   int64
 74  Group 367  2662 non-null   int64
 75  Group 372  2662 non-null   int64
 76  Group 374  2662 non-null   int64
 77  Group 401  2662 non-null   int64
 78  Group 402  2662 non-null   int64
 79  Group 403  2662 non-null   int64
dtypes: float64(1), int64(78), object(1)
memory usage: 1.6+ MB

In [50]:
#find all unique values and count of each value for all columns having group in the name
for col in df.columns:
    if 'group' in col.lower():
        print(f"Column: {col}")
        print(df[col].value_counts())
        print("\n")

Column: Group 1
Group 1
0     1251
1      656
2      463
3      160
4       83
6       21
5       15
8        4
9        3
7        3
14       1
12       1
16       1
Name: count, dtype: int64


Column: Group 2
Group 2
0     1739
1      279
2      180
3       99
4       62
6       49
5       47
7       43
8       25
9       23
11      17
10      15
13      14
12      13
14      10
15       9
18       7
16       7
17       6
19       3
36       1
21       1
35       1
24       1
41       1
30       1
33       1
32       1
22       1
25       1
28       1
42       1
26       1
20       1
29       1
Name: count, dtype: int64


Column: Group 3
Group 3
0    2429
1     179
2      43
3       7
6       2
4       2
Name: count, dtype: int64


Column: Group 4
Group 4
0    2575
1      78
2       8
3       1
Name: count, dtype: int64


Column: Group 5
Group 5
0    2573
1      80
2       9
Name: count, dtype: int64


Column: Group 6
Group 6
0    2607
1      49
2       6
Name: count, dtype: int64


Column: Group 7
Group 7
0    2627
1      34
2       1
Name: count, dtype: int64


Column: Group 13
Group 13
0    2634
1      25
2       3
Name: count, dtype: int64


Column: Group 15
Group 15
0     1432
4      397
3      231
5      211
2       72
10      64
9       59
6       53
8       49
7       48
12      11
1       11
14       9
15       8
20       4
18       1
13       1
11       1
Name: count, dtype: int64


Column: Group 16
Group 16
0     2524
2      115
4       15
6        4
8        3
12       1
Name: count, dtype: int64


Column: Group 17
Group 17
0    2591
2      53
4      18
Name: count, dtype: int64


Column: Group 18
Group 18
0    2484
1      98
2      70
4       5
3       4
6       1
Name: count, dtype: int64


Column: Group 19
Group 19
0    2538
1      93
2      27
3       4
Name: count, dtype: int64


Column: Group 20
Group 20
0    2337
1     202
2      89
3      24
4       6
5       3
6       1
Name: count, dtype: int64


Column: Group 21
Group 21
0    2468
1     174
2      17
3       2
6       1
Name: count, dtype: int64


Column: Group 22
Group 22
0    2592
1      63
2       5
3       1
4       1
Name: count, dtype: int64


Column: Group 23
Group 23
0    2604
1      50
2       7
3       1
Name: count, dtype: int64


Column: Group 29
Group 29
0    2454
1     174
2      30
3       2
4       1
5       1
Name: count, dtype: int64


Column: Group 30
Group 30
0    2496
1     150
2      14
3       2
Name: count, dtype: int64


Column: Group 31
Group 31
0    2572
1      85
2       5
Name: count, dtype: int64


Column: Group 33
Group 33
0    2616
1      43
2       3
Name: count, dtype: int64


Column: Group 34
Group 34
0    2635
1      25
2       2
Name: count, dtype: int64


Column: Group 37
Group 37
0    2597
1      62
2       3
Name: count, dtype: int64


Column: Group 38
Group 38
0    2632
1      30
Name: count, dtype: int64


Column: Group 39
Group 39
0    2633
1      27
2       2
Name: count, dtype: int64


Column: Group 40
Group 40
0    2625
1      30
2       6
3       1
Name: count, dtype: int64


Column: Group 41
Group 41
0    2579
1      65
2      15
3       3
Name: count, dtype: int64


Column: Group 45
Group 45
0    2610
1      39
2      13
Name: count, dtype: int64


Column: Group 48
Group 48
0    2622
1      31
2       9
Name: count, dtype: int64


Column: Group 49
Group 49
0    2633
1      18
2       8
3       2
4       1
Name: count, dtype: int64


Column: Group 50
Group 50
0    2609
1      35
2      16
3       2
Name: count, dtype: int64


Column: Group 53
Group 53
0    2526
1     111
2      20
3       5
Name: count, dtype: int64


Column: Group 54
Group 54
0    2627
1      28
2       7
Name: count, dtype: int64


Column: Group 62
Group 62
0    2553
1      88
2      19
3       2
Name: count, dtype: int64


Column: Group 63
Group 63
0    2633
1      27
2       2
Name: count, dtype: int64


Column: Group 80
Group 80
0    2580
1      66
2      14
3       2
Name: count, dtype: int64


Column: Group 108
Group 108
0    2594
1      53
2      14
3       1
Name: count, dtype: int64


Column: Group 119
Group 119
0    2625
1      26
2      10
3       1
Name: count, dtype: int64


Column: Group 123
Group 123
0    2476
1      97
2      60
3      15
5       5
4       5
6       3
8       1
Name: count, dtype: int64


Column: Group 124
Group 124
0    2613
1      31
5       7
2       6
4       3
8       1
6       1
Name: count, dtype: int64


Column: Group 126
Group 126
0     2582
1       58
2       13
3        6
4        2
10       1
Name: count, dtype: int64


Column: Group 128
Group 128
0    2577
1      48
2      27
3       6
4       4
Name: count, dtype: int64


Column: Group 129
Group 129
0    2607
3      20
1      20
2      13
4       1
6       1
Name: count, dtype: int64


Column: Group 130
Group 130
0    2540
1      65
2      31
3      17
4       4
6       3
7       1
8       1
Name: count, dtype: int64


Column: Group 168
Group 168
0     2408
4       65
2       60
3       54
1       24
5       20
6       10
7        8
8        5
10       4
9        1
12       1
11       1
14       1
Name: count, dtype: int64


Column: Group 169
Group 169
0    2532
1      82
2      34
3       9
5       3
6       1
4       1
Name: count, dtype: int64


Column: Group 170
Group 170
0    2616
1      27
2      16
3       3
Name: count, dtype: int64


Column: Group 171
Group 171
0    2592
1      54
2      14
4       1
3       1
Name: count, dtype: int64


Column: Group 172
Group 172
0    2591
1      56
2      15
Name: count, dtype: int64


Column: Group 175
Group 175
0    2617
1      42
2       3
Name: count, dtype: int64


Column: Group 176
Group 176
0    2606
1      46
2       7
3       3
Name: count, dtype: int64


Column: Group 179
Group 179
0    2586
1      63
2      12
3       1
Name: count, dtype: int64


Column: Group 180
Group 180
0    2579
1      60
2      22
3       1
Name: count, dtype: int64


Column: Group 181
Group 181
0    2619
1      38
2       4
3       1
Name: count, dtype: int64


Column: Group 221
Group 221
0    2527
1     104
2      28
4       2
3       1
Name: count, dtype: int64


Column: Group 222
Group 222
0    2613
1      40
2       9
Name: count, dtype: int64


Column: Group 227
Group 227
0    2592
1      52
2      10
3       4
4       4
Name: count, dtype: int64


Column: Group 228
Group 228
0    2564
1      69
2      26
4       2
3       1
Name: count, dtype: int64


Column: Group 236
Group 236
0    2618
1      41
2       3
Name: count, dtype: int64


Column: Group 286
Group 286
0    2630
1      26
2       4
3       1
4       1
Name: count, dtype: int64


Column: Group 292
Group 292
0    2627
1      26
2       8
3       1
Name: count, dtype: int64


Column: Group 296
Group 296
0    2617
1      36
2       7
3       2
Name: count, dtype: int64


Column: Group 297
Group 297
0    2633
1      26
2       3
Name: count, dtype: int64


Column: Group 319
Group 319
0    2624
2      28
1       6
4       3
3       1
Name: count, dtype: int64


Column: Group 324
Group 324
0    2520
1     137
2       4
3       1
Name: count, dtype: int64


Column: Group 325
Group 325
0    2572
1      88
2       2
Name: count, dtype: int64


Column: Group 326
Group 326
0    2483
1     160
2      19
Name: count, dtype: int64


Column: Group 327
Group 327
0    2608
1      54
Name: count, dtype: int64


Column: Group 328
Group 328
0    2524
1     130
2       8
Name: count, dtype: int64


Column: Group 331
Group 331
0    2632
1      30
Name: count, dtype: int64


Column: Group 365
Group 365
0    2595
1      61
2       5
3       1
Name: count, dtype: int64


Column: Group 367
Group 367
0    2634
2      16
1      12
Name: count, dtype: int64


Column: Group 372
Group 372
0    2630
2      15
1       9
3       4
4       3
6       1
Name: count, dtype: int64


Column: Group 374
Group 374
0    2633
1      24
3       4
6       1
Name: count, dtype: int64


Column: Group 401
Group 401
0    2517
1     115
2      29
3       1
Name: count, dtype: int64


Column: Group 402
Group 402
0    2619
1      41
2       2
Name: count, dtype: int64


Column: Group 403
Group 403
0    2603
1      54
2       5
Name: count, dtype: int64

In [ ]:
#save cleaned data as train_improved.csv
df.to_csv('../data/train_improved.csv', index=False)